version: '2'
services:
  russyll:
    image: omelhoro1/russyll
    container_name: russyll
    restart: unless-stopped
    labels:
      - "traefik.frontend.rule=Host:russyll.igor-fischer.rocks,russyll.fischerops.com,russyll.software-unchained.com"
    networks:
      - proxy-tier
networks:
  proxy-tier:
    external: true
