body {
  /* font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif; */
  font-family: "Do Hyeon", sans-serif;

  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background-color: silver;
  background: linear-gradient(lightcoral, lightblue, snow);
  background-repeat: no-repeat;
  height: 100%;
}

#app-body {
  max-width: 800px;
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 10px;
  /* background-color: snow; */
}

.panel {
  /* background: silver; */
  padding: 20px;
}

.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: inherit;
}

h1,
h2,
h3 {
  color: #000;
}
h1 {
  font-size: 2.5em;
}

.header {
  text-align: center;
  font-family: sans-serif;
  color: #d0e9c6;
  background: linear-gradient(white, blue, red);
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

table.syllabied {
  font-size: x-small;
}

#header h1 {
  font-size: 28px;
  font-weight: 300;
  /* font-family: 'open sans'; */
  line-height: 54px;
  letter-spacing: 3px;
  height: 56px;
  margin: 0;
  display: inline-block;

  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
}

#header a {
  color: #fff;
  text-decoration: none;
}

.action-wrapper {
  display: flex;
  justify-content: center;
}

.action-header {
  color: white;
  text-align: center;
  background-color: #16a085;
  border: 3px solid #eee;
  border-radius: 10px;
  line-height: 50px;
  max-width: 200px;
  flex-grow: 1;
}

textarea {
  font-family: Helvetica, Arial, Sans-Serif;
}
